raw_reads_dir=""
gtf=""
genome_fasta=""
index=""
bam_dir=""
salmon_index=""               
output="./"
thread=8
salmon_quant=false
skip_fastp=false
skip_hisat=false
skip_stringtie=false
skip_gffcompare=false
skip_bcftools=false
skip_htseq=false
skip_deseq=false
reads_count=""
salmon_quant=false
col_data=""
comp_condition=""
results_name=""
additionalOpts=""
results_name="zdq_rnaseq_results"
conda_bash="/home/origene/yinshan.cui/miniconda3/etc/profile.d/conda.sh"
