./module/tools/bam_sort_stat.sh
./module/software/mapping/hisat.sh
./module/software/qc/fastqc.sh
./module/tools/softlinkFORunmatchedread.sh
./module/software/qc/fastp.sh
./module/software/statistic/samtools_sort.sh
./module/software/statistic/samtools_index.sh
./module/software/statistic/samtools_stat.sh
./module/software/statistic/samtools_flagstat.sh
./module/software/statistic/samtools_idxstat.sh
./workflow/fastqc_fastp.sh
./workflow/aligh_with_hisat.sh
./module/software/quantity/htseq.sh
./module/pipeline/count_matrix_build.sh
